@font-face {
  font-family: "Freight-DispLight";
  src: url("../fonts/Freight-DispLight.otf") format("openttype"),
    url("../fonts/Freight-DispLight.ttf") format("truettype"),
    url("../fonts/Freight-DispLight.eot") format("embedded-openttype"),
    url("../fonts/Freight-DispLight.woff") format("woff"),
    url("../fonts/Freight-DispLight.woff2") format("woff2"),
    url("../fonts/Freight-DispLight.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

root {
  --off-white: #eae7dc;
  --tan: #d8c3a5;
  --light-grey: #8e8d8a;
  --red-pink: #e98074;
  --orange-red: #e85a4f;
  --graphite: var(--graphite);
}

/* html {
  font-size: 62.5%;
} */

body {
  color: var(--graphite);
}

html,
body,
.main {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Freight-DispLight", serif;
  background: url("..//images/photo-1519606247872-0440aae9b827.jpg");
}

#hi-score-h3 {
  margin-top: 10px;
  text-align: center;
  font-size: 45px;
}

.scoreboard-body {
  background: url("..//images/photo-1542317366-412ab0365069.jpg");
}

.score-board-container {
  display: flex;
}

ol {
  margin-top: -5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

li {
  margin-top: -15px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 35px;
  margin-right: 35px;
  background: none;
}

#return-btn {
  margin: 10px 0 0 25px;
  padding: 10px 20px 10px 20px;
  box-shadow: #363636 10px 12px 20px 0px;
  background: url("..//images/dried-wood-bg.jpg");
}

#return-btn:hover {
  cursor: pointer;
}

.button {
  font-family: "Freight-DispLight", serif;
  background: url("..//images/button-bg.jpg");
  border-radius: 10px;
  font-size: 30px;
  font-weight: bold;
}

#high-scores-btn {
  padding: 20px 35px 20px 35px;
  width: 210px;
  box-shadow: #000000 10px 12px 20px 0px;
  margin-left: 25px;
  border: 1px solid rgb(58, 56, 56);
}

#high-scores-btn:hover {
  cursor: pointer;
  font-weight: 600;
  border: 2px solid rgb(58, 56, 56);
}

.timer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-right: 25px;
  padding: 5px 15px 5px 15px;
  border-radius: 10px;
  border: 1px solid rgb(73, 56, 49);
  background: url("..//images/button-bg.jpg");
  box-shadow: #000000 10px 12px 20px 0px;
}

.timer-text {
  margin-top: 5px;
  font-size: 30px;
}

.h1 {
  margin: 15px;
  text-align: center;
  font-size: 50px;
  color: hsl(20, 12%, 10%);
}

.timer-count {
  margin-top: -30px;
  font-size: 35px;
}

.intro-text {
  text-align: center;
  margin-top: 0px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 10px;
  font-size: 33px;
  font-weight: bold;
}

.start-btn-wrapper {
  margin-top: -10px;
  display: flex;
  justify-content: space-around;
}

#begin {
  font-size: 30px;
  height: 60px;
  width: 175px;
  display: block;
  border: 1px solid rgb(58, 54, 44);
}

#begin:hover {
  cursor: pointer;
  font-weight: 600;
  border: 2px solid rgb(54, 54, 54);
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 5px;
  padding-top: 0px;
  color: hsl(206, 17%, 28%);
}

.card {
  background-color: tan;
  height: 400px;
  width: 1000px;
  border-radius: 20px;
  border-width: 1px;
  box-shadow: #000000 10px 12px 20px 0px;
  border: 1px solid hsl(20, 12%, 10%);
  color: hsl(20, 12%, 10%);
  font-size: 18px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background: url("..//images/wood-grain.jpg"), center;
}

#question {
  font-family: "Freight-DispLight", serif;
  margin: 20px;
  padding-bottom: 10px;
  font-size: 40px;
  text-align: center;
  font-weight: 600;
}

#choices {
  display: flex;
  flex-direction: column;
  width: 280px;
  right: 0;
  padding: 10px;
}

.choice {
  font-family: "Freight-DispLight", serif;
  width: 155px;
  margin: 7px;
  height: 40px;
  text-align: center;
  border: 1px solid rgb(58, 54, 44);
  border-radius: 15px;
  cursor: pointer;
  padding: 5px;
  font-size: 25px;
  font-weight: 500;
  background: url("..//images/button-bg.jpg");
}

.choice:hover {
  border: 2px solid rgb(54, 54, 54);
  font-weight: 600;
}

#correct {
  color: green;
  font-size: 35px;
  font-weight: bolder;
}

#incorrect {
  color: red;
  font-size: 35px;
  font-weight: bolder;
}

.choice-feedback {
  height: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.score-header-container {
  display: flex;
  justify-content: space-around;
  border-radius: 20px 20px 0 0;
  background-color: hsla(0, 0%, 68%, 0.644);
}

.high-scores-text {
  font-size: 40px;
  color: hsl(20, 12%, 10%);
  background-color: hsla(0, 0%, 68%, 0.644);
}

.score-board-container {
  display: flex;
  justify-content: space-around;
}

.score-board-container {
  margin-top: 25px;
  height: 640px;
  width: 400px;
  border: 1px solid black;
  box-shadow: #000000 10px 12px 20px 0px;
  border-radius: 20px;
  background: url("..//images/dried-wood2.jpg"), center;
}
